.layout-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #333;
  color: white;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.main-content-wrapper {
  margin-left: 18vw;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 80vw;
  margin-right: 2vw;
}

.main-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 4.5rem;
  z-index: 1000;
  padding: 0px 10px;
}

/* Left side container (first flex) */
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  color: #333;
}

/* Left Header Head (e.g., brand name or title) */
.header-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1.25rem;
  color: #0c7d72;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Main content */
.main-content {
  margin-left: 201px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

/* Footer inside main column */
footer {
  padding: 10px 20px;
  text-align: center;
  margin: 0 0 0 2px;
}
